.input-search {
    width: 25%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid rgba(0, 255, 255, 0.2);
    background: #0a1d24;
    color: var(--text);
    transition: 0.2s ease;
    /* font-family: inherit;
    font-size: 1rem; */
}

.input-search::placeholder {
    color: var(--muted);
}

.input-search:focus {
    outline: none;
    border-color: var(--accent);
    box-shadow: 0 0 12px rgba(0, 255, 255, 0.35);
    background: #0c222b;
}