.topbar {
  background: #00c9e9;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  font-family: 'Segoe UI', sans-serif;
}

.topbar .logo {
  font-size: 26px;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
}

.topbar .nav-links {
  display: flex;
  gap: 22px;
  align-items: center;
}

.topbar .nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}

.topbar .nav-links a:hover {
  opacity: 0.75;
}

.topbar .right-section {
  display: flex;
  align-items: center;
  gap: 16px;
  color: white;
  font-weight: 500;
}

.logout-btn {
  background: #ff4b4b;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-size :16px !important;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.logout-btn:hover {
  background: #ff2e2e;
}

.title {
  color: #4d3737bd !important;
}